
/ripley
/cpp/forecast_xml_build/dist
/cpp/forecast_xml_build/build
/cpp/WFMSetup/build
/cpp/WFMSetup/dist
/data
/design
/src/wfm_reports
*.7z
*.project
*.pydevproject
/emp.xml
/multiweek.txt
/pos_trujillo.txt
/src/rcl/__pycache__src/config.zip
src/exec.py.bak
cpp/a.exe
.spyderproject
